<style type="text/css" media="screen">

.menu a, .menuA {
	color: #484848;
	z-index: 1000;
}
/*cor quando passar o mouse
/*menu hover*/
.menu a:hover, .menuAHover {
	background-color: #eee !important;
	color: #333 !important;
}
.menu {
	margin-top: -29px;	
	float: left;
	text-align: left;
	font-size: 12px;
	font-style: normal;
	padding: 4px 8px 4px 8px;
	background-color:#ccc;
}
.menu a, .menuA {
	text-decoration: none;
	display: block;
	margin-left: 3px;
	margin-right: 3px;
	padding: 1px 3px 1px 3px;
	font-weight:bold;
}
.menu ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 0;
	width: auto;
	float: left;
	z-index: 1000;
}
.menu ul li {
	position: relative;
	white-space: nowrap;
	height: 18px !important;
	padding: 0px;
	margin: 0 0 0 0;
}
.menu ul ul {
	position: absolute;
	width:auto;
	min-width: 250px;
	font-weight: normal;
	background-color: #ddd;
	background-image: none;
	margin: 0;
	box-shadow: 2px 2px 2px rgba(100,100,100,0.7);
	border-radius: 3px;/*box-shadow:5px 5px rgba(200,200,200,0.7);*/
	
}
.menu ul ul li {
	padding: 8px 5px;
	
}
.TemFilho {
	background-image: url(./imagens/expand3.gif);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}
.menu ul ul ul, .menu ul ul ul ul {
	position: absolute;
	top: 0;
	left: 100%;
	width: auto;

}

.menu ul ul {
	display: none;
}

</style>