/**
 * Paginacao
 * @author Ronneesley Moura Teles
 * @since 29/04/2008 - 16:25
 * Somente alteracoes
 */

/* criado pelo jesus para os links da paginas de consulta	*/
.Paginacao {
	margin-left: 2px;
	font-family: verdana;
	/*font-size: 12px;*/
	height: auto;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 2px;
	/*width: 97%;*/
	width: 993px;
}

.Paginacao a {
	text-decoration:none;
	margin:3px 3px 3px 3px;
	padding: 3px;
}

.Paginacao a:hover{
	background-color:#a2c9ea;
	color: #ffffff;
	font-weight: bold;
}

.Paginacao .BotaoIr, .Paginacao .CaixaTextoPosicionar{
	float: none !important;
	margin-left:5px;
	margin-right:5px;
}
